{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Classes</h2>
                <h3 class="logo-font">Our Classes are open to all members, Come along today!</h3>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div>
                    <img src="{{ MEDIA_URL }}timetable.png" alt=" gym class timetable">
                </div>
                <div class="row d-none d-lg-block">
                    {% for class in classes %}
                            <div class="row ">
                                <div class="col-2 my-auto text-uppercase">
                                    <h3 class="my-4 px-4"> {{ class.name }} </h3>
                                </div>
                                
                                {% if class.image %}
                                <div class="col-5 w-100 my-auto mx-auto">                               
                                    <img class="card-img-top img-fluid " src="{{ class.image.url }}" alt="{{ class.name }}">
                                </div>                                
                                {% else %}  
                                <div class="col-5"></div>                              
                                    <img class="card-img-top img-fluid image-size" src="{{ MEDIA_URL }}noimage.png" alt="{{ class.name }}">  
                                </div>                              
                                {% endif %}
                                
                                <div class="col-3 card-body pb-0">
                                    <p class="mb-0 py-auto mx-auto text-center">{{ class.description }}</p>
                                </div>                                
                            </div>
                            <hr class="w-50 mb-1">
                                                
                    {% endfor %}
                </div>
                <div class="row d-lg-none">
                    {% for class in classes %}
                            <div class=>
                                <div class="my-auto text-center">
                                    <h3 class="my-4 px-2"> {{ class.name }}</h3>
                                </div>
                                
                                {% if class.image %}
                                <div>                               
                                    <img class="card-img-top img-fluid mx-auto offset-1" src="{{ class.image.url }}" alt="{{ class.name }}">
                                </div>                                
                                {% else %}  
                                <div ></div>                              
                                    <img class="card-img-top img-fluid image-size" src="{{ MEDIA_URL }}noimage.png" alt="{{ class.name }}">  
                                </div>                              
                                {% endif %}
                                
                                <div>
                                    <p class="mb-0 text-center ">{{ class.description }}</p>
                                </div>                                
                            </div>
                            <hr class="w-50 mb-1">
                                                
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}