{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font font-weight-bold"><u>Our Gym</u></h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="container d-none d-lg-block">
                    {% for g in gym %}
                        <div class="row">
                            <div class="card border-0 col-6 ">
                                {% if g.image %}                                
                                    <img class="card-img-top img-fluid image-margin" src="{{ g.image.url }}" alt="{{ g.name }}">                                
                                {% else %}
                                    <img class="card-img-top img-fluid image-margin" src="{{ MEDIA_URL }}noimage.png"
                                        alt="{{ g.name }}">                                
                                {% endif %}
                            </div>
                            <div class="card-body pb-0 col-6 ">
                                <h2 class="mb-0 font-weight-bold text-center"><u>{{ g.name }}</u></h2>
                                <br>
                                <p class="lead mb-0 text-center">{{ g.about }}</p>
                            </div>                            
                        </div>
                    {% endfor %}
                </div>
                <div class="row d-lg-none">
                    {% for g in gym %}
                            <div class=>
                                <div class="my-auto px-3 text-center">
                                    <h2 class="mb-0 font-weight-bold text-center"><u>{{ g.name }}</u></h2>

                                </div>
                                                                
                                {% if g.image %}                                
                                    <img class="card-img-top img-fluid" src="{{ g.image.url }}" alt="{{ g.name }}">                                
                                {% else %}
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                        alt="{{ g.name }}">                                
                                {% endif %}
                                
                                <div>
                                    <p class="mb-0 text-center ">{{ g.about }}</p>
                                </div>                                
                            </div>
                            <hr class="w-50 mb-1">
                                                
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}